{% extends "base.html" %}
{% block content %}

<div class="offcanvas-overlay"></div>

<!-- Page Title/Header Start -->
<div class="page-title-section section" data-bg-image="{{ url_for('static', filename='assets/images/bg/page-title-1.webp') }}">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">About us</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                        <li class="breadcrumb-item active">About us</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Title/Header End -->

<!-- About Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <span class="sub-title">LEARTS STORE</span>
                    <h2 class="title">Aspiration Inspired Happiness</h2>
                </div>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <img src="{{ url_for('static', filename='assets/images/about/about-6.webp') }}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<!-- About Section Start -->
<div class="section section-fluid section-padding pt-0">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-lg-6 col-12 text-center learts-mb-30">
                <img src="{{ url_for('static', filename='assets/images/about/about-7.webp') }}" alt="">
            </div>

            <div class="col-lg-6 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <div class="row learts-mb-n30">
                        <div class="col-xl-8 col-12 learts-mb-30">
                            <div class="desc mb-0">
                                <p>Crafting beautiful stuff with our own hands and the help from useful tools is a wonderful process, where you can enjoy yourself while pulling out some ideas and busy perfecting your work.</p>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">FREE SHIPPING</h6>
                                        <p>1800 Abbot Kinney Blvd. Unit D & E Venice</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">PHONE</h6>
                                        <p>Mobile: (+88) – 1990 – 6886 <br> Hotline: 1800 – 1102</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">EMAIL</h6>
                                        <p>contact@leartsstore.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- About Section End -->

<!-- Video Banner Section Start -->
<div class="section">
    <div class="video-banner" data-bg-image="{{ url_for('static', filename='assets/images/banner/video/video-banner-1.webp') }}">
        <div class="content">
            <h2 class="title">LITTLE <span>SIMPLE</span> THINGS</h2>
            <a href="https://www.youtube.com/watch?v=1jSsy7DtYgc" class="video-popup">
                <img src="{{ url_for('static', filename='assets/images/icons/button-play.webp') }}" alt="">
            </a>
        </div>
    </div>
</div>
<!-- Video Banner Section End -->

<!-- Testimonial Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title2 row justify-content-between align-items-center">
            <div class="col-md-auto col-12">
                <!-- Section Title Start -->
                <h2 class="title title-icon-right">We love our cilents</h2>
                <!-- Section Title End -->
            </div>
            <div class="col-md-auto col-12 mt-4 mt-md-0">
                <a href="#" class="btn btn-light btn-hover-black">view all</a>
            </div>
        </div>

        <div class="testimonial-carousel">
            <div class="col">
                <div class="testimonial">
                    <p>There's nothing would satisfy me much more than a worry-free clean and responsive theme for my high-traffic site.</p>
                    <div class="author">
                        <img src="{{ url_for('static', filename='assets/images/testimonial/testimonial-1.webp') }}" alt="">
                        <div class="content">
                            <h6 class="name">Anais Coulon</h6>
                            <span class="title">Actor</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <p>Really good design/documentation, pretty much everything is nicely setup. The best choice for Woocommerce shop.</p>
                    <div class="author">
                        <img src="{{ url_for('static', filename='assets/images/testimonial/testimonial-2.webp') }}" alt="">
                        <div class="content">
                            <h6 class="name">Ian Schneider</h6>
                            <span class="title">Actor</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <p>ThemeMove deserves 5 star for theme’s features, design quality, flexibility, customizability and support service!</p>
                    <div class="author">
                        <img src="{{ url_for('static', filename='assets/images/testimonial/testimonial-3.webp') }}" alt="">
                        <div class="content">
                            <h6 class="name">Florence Polla</h6>
                            <span class="title">Customer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <p>Thanks for always keeping your WordPress themes up to date. Your level of support is second to none.</p>
                    <div class="author">
                        <img src="{{ url_for('static', filename='assets/images/testimonial/testimonial-4.webp') }}" alt="">
                        <div class="content">
                            <h6 class="name">Sally Ramsey</h6>
                            <span class="title">Reporter</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Testimonial Section End -->

<!-- Instagram Section Start -->
<div class="section section-padding pt-0">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 learts-mb-n50">

            <div class="col align-self-center learts-mb-50 order-lg-2">
                <div class="section-title3 text-center m-0" data-bg-image="{{ url_for('static', filename='assets/images/title/title-3.webp') }}">
                    <h2 class="title">Follow us on Instagram</h2>
                    <p class="desc">@learts_shop</p>
                </div>
            </div>

            <div class="col learts-mb-50">

                <div id="instafeed" class="instafeed instafeed-carousel instafeed-carousel2"></div>

            </div>

        </div>

    </div>
</div>
<!-- Instagram Section End -->

<!-- <div class="footer2-section section section-padding">
    <div class="container">
        <div class="row learts-mb-n40">

            <div class="col-lg-6 learts-mb-40">
                <div class="widget-about">
                    <img src="{{ url_for('static', filename='assets/images/logo/logo-2.webp') }}" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod itaque recusandae commodi mollitia facere iure nisi, laudantium quis quas perferendis a minus dolores.</p>
                </div>
            </div>

            <div class="col-lg-4 learts-mb-40">
                <div class="row">
                    <div class="col">
                        <ul class="widget-list">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Store location</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Orders</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="widget-list">
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Support Policy</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 learts-mb-40">
                <ul class="widget-list">
                    <li> <i class="fab fa-twitter"></i> <a href="https://www.twitter.com/">Twitter</a></li>
                    <li> <i class="fab fa-facebook-f"></i> <a href="https://www.facebook.com/">Facebook</a></li>
                    <li> <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/">Instagram</a></li>
                    <li> <i class="fab fa-youtube"></i> <a href="https://www.youtube.com/">Youtube</a></li>
                </ul>
            </div>

        </div>
    </div>
</div> -->

<div class="footer2-copyright section">
    <div class="container">
        <p class="copyright text-center">&copy; 2020 learts. All Rights Reserved</p>
    </div>
</div>
{% endblock %}